/*
 * Copyright (c) 1998-2000 Thomas Nyström and Stacken Computer Club
 * (Royal Institute of Technology, Stockholm, Sweden).
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 * 
 * 3. All advertising materials mentioning features or use of this software
 *    must display the following acknowledgement:
 *      This product includes software developed by the Kungliga Tekniska
 *      Högskolan and its contributors.
 * 
 * 4. Neither the name of the Institute nor the names of its contributors
 *    may be used to endorse or promote products derived from this software
 *    without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE INSTITUTE AND CONTRIBUTORS ``AS IS'' AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED.  IN NO EVENT SHALL THE INSTITUTE OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 * OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
 * OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 */

#include "setup.rh"

IDM_STCONFIG MENU
{
  MENUITEM "Delete entry", CM_PLDELETE
  MENUITEM "Change default realm", CM_PLVALUE
  MENUITEM "Change server/service", CM_CHANGESERVER
  MENUITEM "Add realm", CM_ADDREALM
  MENUITEM "Add server", CM_ADDSERVER
  MENUITEM "Import", IDC_PLIMPORT
  MENUITEM "Export", IDC_PLEXPORT
}

IDD_SETUP DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Main"
FONT 8, "MS Sans Serif"
{
 CONTROL "Flags", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 4, 104, 130
 CONTROL "Auto wrap", IDC_AUTOWRAP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 15, 72, 10
 CONTROL "Paint if scroll needed", IDC_NOSCWINFN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 28, 84, 10
 CONTROL "Enable notes", IDC_NOTES, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 41, 72, 10
 CONTROL "Use FTP passive", IDC_FTPPASS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 54, 72, 10
 CONTROL "Show # during FTP", IDC_FTPHASH, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 67, 88, 10
 CONTROL "FTP Prompt mode", IDC_FTPPROMPT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 80, 88, 10
 CONTROL "No warning box", IDC_NOWARNINGBOX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 93, 88, 10
 CONTROL "Go to password", IDC_STLGINPSW, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 106, 88, 10
 CONTROL "Auto. authenticate", IDC_KFTPAAUTH, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 119, 88, 10
 CONTROL "Default screen font and size", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 124, 9, 140, 50
 CONTROL "Font", IDC_FONT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 132, 22, 112, 10
 CONTROL "Select Font", IDC_FONTSEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 39, 50, 14
 CONTROL "Cursor style", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 124, 65, 140, 34
 CONTROL "CStyle", IDC_CARETSTYLE, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 132, 78, 112, 55
 CONTROL "Scrollback", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 124, 106, 140, 28
 CONTROL "ScrollBack", IDC_SCRBCK, "edit", ES_RIGHT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 116, 53, 12
 CONTROL "lines", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 188, 118, 28, 8
}

IDD_REALMS DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "krb.realms"
FONT 8, "MS Sans Serif"
{
 CONTROL "ListView1", IDC_PRPLIST, "SysListView32", 517 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 13, 248, 115
}

IDD_CONFIG DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "krb.config"
FONT 8, "MS Sans Serif"
{
 CONTROL "ListView1", IDC_PRPLIST, "SysListView32", 517 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 13, 248, 115
}

IDD_EXTRA DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "krb.extra"
FONT 8, "MS Sans Serif"
{
 CONTROL "ListView1", IDC_PRPLIST, "SysListView32", 517 | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 13, 248, 115
}

IDD_MANAGER DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Manager"
FONT 8, "MS Sans Serif"
{
 CONTROL "App.", IDC_TKTMGR, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 16, 130, 12
 CONTROL "Browse", IDC_BLMGR, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 16, 50, 14
 CONTROL "Ticket Manager Commandline", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 4, 192, 32
 CONTROL "Normal window", IDC_MSTNORM, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 52, 92, 10
 CONTROL "Icon on system tray", IDC_MSTTRAY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 64, 92, 10
 CONTROL "Auto start ticket manager", IDC_MSTAUTO, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 76, 92, 10
 CONTROL "On startup", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 40, 192, 63
}

IDD_SEND DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Send"
FONT 8, "MS Sans Serif"
{
 CONTROL "Default character conversion", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 8, 192, 52
 CONTROL "No conversion", IDC_STCNRAW, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 20, 96, 12
 CONTROL "Convert CR/LF to CR", IDC_STCNCR, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 32, 96, 12
 CONTROL "Convert single LF to CR/LF", IDC_STCLCR, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 44, 96, 12
}

/****************************************************************
 CONTROL "Delay between lines", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 68, 192, 32
 CONTROL "Delay", IDC_STDLY, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 16, 80, 68, 12
 CONTROL "ms", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 88, 80, 20, 8
****************************************************************/

IDD_PRINTER DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Printer"
FONT 8, "MS Sans Serif"
{
 CONTROL "Output", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 9, 192, 68
 CONTROL "PrType", IDC_PRTYPE, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 20, 92, 84
 CONTROL "Setup", IDC_PRSETUP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 20, 50, 14
 CONTROL "Text1", IDC_PRARG, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 40, 176, 12
 CONTROL "Font", IDC_PRFONT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 60, 118, 10
 CONTROL "Select Font", IDC_PRFONTSEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 143, 56, 50, 14
 CONTROL "Options", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 80, 192, 40
 CONTROL "Show text on screen during print", IDC_PRSHOW, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 92, 140, 10
 CONTROL "Append formfeed on print end", IDC_PRAUTOEJECT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 104, 144, 10
}

IDD_POPPROXY DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Pop Proxy"
FONT 8, "MS Sans Serif"
{
 CONTROL "Flags", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 9, 104, 27
 CONTROL "Echo", IDC_PXYECHO, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 20, 72, 10
 CONTROL "Normal window", IDC_PXYNORM, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 56, 92, 10
 CONTROL "Icon on system tray", IDC_PXYTRAY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 68, 92, 10
 CONTROL "On startup", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 44, 104, 40
}

IDD_DEBUG DIALOG 0, 0, 273, 140
STYLE DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Debug"
FONT 8, "MS Sans Serif"
{
 CONTROL "Debug flags", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 8, 192, 96
 CONTROL "Connection", IDC_DBGCONN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 24, 52, 10
 CONTROL "ConnFile", IDC_DBGFCONN, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 23, 108, 12
 CONTROL "B", IDC_DBGBCONN, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 22, 14, 14
 CONTROL "Emulator", IDC_DBGEMUL, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 45, 52, 10
 CONTROL "EmulFile", IDC_DBGFEMUL, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 44, 108, 12
 CONTROL "B", IDC_DBGBEMUL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 43, 14, 14
 CONTROL "Printer", IDC_DBGPRINT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 65, 52, 10
 CONTROL "PrinterFile", IDC_DBGFPRINT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 64, 108, 12
 CONTROL "B", IDC_DBGBPRINT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 63, 14, 14
 CONTROL "KeyMap", IDC_DBGKEYMAP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 85, 52, 10
 CONTROL "KeyMapFile", IDC_DBGFKEYMAP, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 84, 108, 12
 CONTROL "B", IDC_DBGBKEYMAP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 83, 14, 14
}

IDD_SERPAR DIALOG 0, 0, 212, 162
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Port setup"
FONT 8, "MS Sans Serif"
{
 CONTROL "", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 8, 190, 116
 CONTROL "&Bits per second:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 20, 57, 8
 CONTROL "", IDC_BPS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 88, 20, 99, 60
 CONTROL "&Databits:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 40, 34, 8
 CONTROL "", IDC_WORDSIZE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 88, 40, 99, 60
 CONTROL "&Parity:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 60, 25, 8
 CONTROL "", IDC_PARITY, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 88, 60, 99, 60
 CONTROL "&Stop bits:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 80, 37, 8
 CONTROL "", IDC_STOPBITS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 88, 80, 99, 45
 CONTROL "&Flow control:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 100, 53, 8
 CONTROL "", IDC_FLOWCTL, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 88, 100, 99, 45
 CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 36, 138, 50, 14
 CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 138, 50, 14
}

IDD_ADDREALM DIALOG 162, 102, 152, 121
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Add realm"
FONT 8, "MS Sans Serif"
{
 CONTROL "Realm", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 4, 136, 12
 CONTROL "Realm", IDC_EILABEL, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 136, 12
 CONTROL "Server", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 36, 136, 12
 CONTROL "Server", IDC_EIVALUE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 48, 136, 12
 CONTROL "Service", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 68, 136, 12
 CONTROL "Service", IDC_EISERVICE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 80, 136, 12
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 100, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 100, 50, 14
}

IDD_SETDEFREALM DIALOG 162, 102, 152, 63
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Set default realm"
FONT 8, "MS Sans Serif"
{
 CONTROL "Default realm", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 4, 136, 12
 CONTROL "Default Realm", IDC_EILABEL, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 16, 136, 12
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 39, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 39, 50, 14
}

STRINGTABLE
{
 -4, "SETUP"	
 IDS_BROWSETYPES, "Executable files (*.EXE)|*.EXE|Logging files (*.LOG)|*.LOG|All files (*.*)|*.*|"
 IDS_DOMNODE, "Domain/Node"
 IDS_REALM, "Realm"
 IDS_ALLTYPES, "All files (*.*)|*.*|"
 IDS_VARIAB, "Variable"
 IDS_VALUE, "Value"
 IDS_PRTNONE, "No printer"
 IDS_PRTFILE, "Disk file"
 IDS_PRTWINDOWS, "Windows printer"
 IDS_PRTCOM1, "Direct to COM1"
 IDS_PRTCOM2, "Direct to COM2"
 IDS_PRTCOM3, "Direct to COM3"
 IDS_PRTCOM4, "Direct to COM4"
 IDS_PRTLPT1, "Direct to LPT1"
 IDS_PRTLPT2, "Direct to LPT2"
 IDS_PRTLPT3, "Direct to LPT3"
 IDS_PRNTYPES, "Printer files (*.PRN)|*.PRN|All files (*.*)|*.*|"
 IDS_PRNFILE, "Append print data to file"
 IDS_BADPRINTER, "Bad printer selected or no setup defined"
 IDS_PRPCNSAVE, "Can't save data in registry"
 IDS_PRPCNFDEV, "Internal error:\nCan't find device name"
 IDS_CSWINSTD, "Vertical bar"
 IDS_CSBLOCK, "Block"
 IDS_CSULINE, "Underline"
 IDS_SERVER, "Server"
 IDS_SERVICE, "Service"
 IDS_NEW, "New"
 IDS_REALMDEL, "Delete server %s\nfor realm %s?"
 IDS_ZEROLEN, "Empty realm or server field"
 IDS_IOERR, "I/O Error"
 IDS_IMPSYNTAX2, "Format error on line %u\n%s"
 IDS_UNKPRINT, "Unknown printer type, no setup"
}

STRINGTABLE
{
 IDS_CBR_110, "110"
 IDS_CBR_300, "300"
 IDS_CBR_600, "600"
 IDS_CBR_1200, "1200"
 IDS_CBR_2400, "2400"
 IDS_CBR_4800, "4800"
 IDS_CBR_9600, "9600"
 IDS_CBR_14400, "14400"
 IDS_CBR_19200, "19200"
 IDS_CBR_38400, "38400"
 IDS_CBR_56000, "56000"
 IDS_CBR_57600, "57600"
 IDS_CBR_128000, "128000"
 IDS_CBR_115200, "115200"
 IDS_CBR_256000, "256000"
 IDS_4BIT, "4 bits"
 IDS_5BIT, "5 bits"
 IDS_6BIT, "6 bits"
 IDS_7BIT, "7 bits"
 IDS_8BIT, "8 bits"
 IDS_EVENPARITY, "Even parity"
 IDS_MARKPARITY, "Mark parity"
 IDS_NOPARITY, "No parity"
 IDS_ODDPARITY, "Odd parity"
 IDS_ONESTOPBIT, "1 stopbit"
 IDS_ONE5STOPBITS, "1.5 stopbits"
 IDS_TWOSTOPBITS, "2 stopbits"
 IDS_SPFC_NONE, "None"
 IDS_SPFC_HW, "Hardware"
 IDS_SPFC_XONXOFF, "XON/XOFF"
 IDS_SPCE_ISO8859, "ISO8859 (Windows)"
 IDS_SPCE_OEM, "OEM (PC Std)"
 IDS_SPCE_SIS7BIT, "SIS 7 Bit ASCII"
}
